[Unit]
Description=Backup Music SECONDARY → DATA-FAST

[Service]
Type=simple
ExecStart=%h/.local/bin/backup-sync backup-music /mnt/SECONDARY/music/ /mnt/DATA-FAST/Music/ "" 0
KillSignal=SIGTERM
KillMode=mixed
TimeoutStopSec=30
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=default.target
