[Unit]
Description=Backup Photos every 4 days

[Timer]
OnCalendar=*-*-1/4 22:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
